APScheduler==3.6.3
asgiref==3.2.10
bisect-b2g==1
CacheControl==0.12.6
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
cloudinary==1.22.0
dj-database-url==0.5.0
Django==3.1
django-cloudinary-storage==0.3.0
django-extensions==3.0.8
django-heroku==0.3.1
django-user-agents==0.4.0
firebase-admin==4.3.0
google-api-core==1.22.1
google-api-python-client==1.11.0
google-auth==1.21.0
google-auth-httplib2==0.0.4
google-cloud-core==1.4.1
google-cloud-firestore==1.9.0
google-cloud-storage==1.31.0
google-crc32c==1.0.0
google-resumable-media==1.0.0
googleapis-common-protos==1.52.0
googlemaps==4.4.2
graphviz==0.14.1
grpcio==1.31.0
gunicorn==20.0.4
h5py==2.10.0
httplib2==0.18.1
idna==2.10
isodate==0.6.0
Keras==2.4.3
msgpack==1.0.0
mysqlclient==2.0.1
numpy==1.19.2
Pillow==7.2.0
protobuf==3.13.0
psycopg2==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydot==1.4.1
pydotplus==2.0.2
pyparsing==2.4.7
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
rsa==4.6
scipy==1.5.2
six==1.15.0
sqlparse==0.3.1
tzlocal==2.1
ua-parser==0.10.0
uritemplate==3.0.1
urllib3==1.25.10
user-agents==2.2.0
whitenoise==5.2.0
