
<html lang="en">
  <head>
    {% load static %}
    {% load cloudinary %}
    <title>Enso</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/util.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendor/Semantic-UI/semantic.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">


    <link rel="stylesheet" type="text/css" href="{% static "vendor/Applozic/public/plugin/css/app/sidebox/applozic.combined.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendor/Applozic/public/plugin/css/app/sidebox/applozic.sidebox.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendor/Applozic/public/plugin/css/app/sidebox/viewer.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendor/css-hamburgers/hamburgers.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendor/animsition/css/animsition.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendor/Customizable-Badges/jquery.badge.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendor/Loading-Mask/app.min.css" %}">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <script type="text/javascript">
  	var $original;
  	if (typeof jQuery !== 'undefined') {
  		$original = jQuery.noConflict(true);
  		$ = $original;
  		jQuery = $original;
  	}
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static "vendor/Semantic-UI/semantic.min.js" %}"></script>
    <script src="{% static "vendor/Loading-Mask/app.js" %}"></script>
    <script src="{% static "vendor/Applozic/public/plugin/js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDDCVt_rTIk3xHjMY5OTtKb7TvEzPqOD4U"></script>
    <script src="{% static "vendor/bootstrap/js/popper.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <script src="{% static "vendor/Customizable-Badges/jquery.badge.js" %}"></script>

  </head>
  <script>
    var geocoder = new google.maps.Geocoder();
    $(document).ready(function() {

      $('.pop-up-tooltip').popup({transition:'Fade Up'});

      $('#food-cat-filter').dropdown({
        onChange: function() {
          loadFoodListings()
        }
      });

      reverseGeocode({{user.profile.zip_code.latitude}},{{user.profile.zip_code.longitude}});

      $("#search-location-input").focusin(function() {

        document.getElementById("location-search").setAttribute("style","border: 1px solid #00b14f !important")
      });

      $("#search-location-input").focusout(function() {
        document.getElementById("location-search").setAttribute("style","border: 1px solid #c5c5c5 !important")
      });

    });

    $(document).on('submit', '#location-search',function(event){
    		event.preventDefault()
        geocodeAddress($("#search-location-input").val())
    });

    $(document).on('submit', '#store-search-form',function(event){
        event.preventDefault();
        loadFoodListings();
    });


    function geocodeAddress(address){

      geocoder.geocode( { 'address':address,'componentRestrictions':{'country':'SG'}}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          reverseGeocode(results[0].geometry.location.lat(),results[0].geometry.location.lng());
        }else{
          reverseGeocode({{user.profile.zip_code.latitude}},{{user.profile.zip_code.longitude}});
        }
      });
    }

    function reverseGeocode(latitude,longitude){

      var latlng = new google.maps.LatLng(latitude, longitude);

      geocoder.geocode({
        'latLng': latlng
      }, function(results, status) {
          document.getElementById("search-location-input").value = results[0].formatted_address;
          document.getElementById("curr-latitude").textContent = latitude
          document.getElementById("curr-longitude").textContent = longitude
          loadFoodListings();
      });
    }

    function getCurrentLocation(){
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(success);
      }

      function success(position) {
        reverseGeocode(position.coords.latitude, position.coords.longitude);
      }

    }


    function listingsSpinner(show){
      if(show){
        $("#foodListingsSpinner").removeClass('dis-none')
        $("#foodListingsSpinner").busyLoad("show", {
          spinner: "cubes", // pump, acc[ordion, pulsar, cube, cubes, circle-line, circles, cube-<a href="https://www.jqueryscript.net/tags.php?/grid/">grid</a>
          color: "black",
          background: 'white',
          maxSize: "50px", // Integer/String only for spinners & images, not fontawesome & custom
          minSize: "20px", // Integer/String only for spinners & images, not fontawesome & custom
        });
      }else{
        $("#foodListingsSpinner").busyLoad("hide", {});
        $("#foodListingsSpinner").addClass('dis-none')
      }
    }

    function loadFoodListings(){
      $('#storesList').empty()

      listingsSpinner(true)
      var data = new FormData()
      data.append('curr_lat',document.getElementById("curr-latitude").textContent)
      data.append('curr_long',document.getElementById("curr-longitude").textContent)

      if($('#food-cat-filter').dropdown('get value').length !== 0){
        foodCats = $('#food-cat-filter').dropdown('get value')
        data.append('food_cats',foodCats.split(','))
      }

      if($('#search-store-input').val().length !== 0){
        data.append('store_search', $('#search-store-input').val().trim())
      }

      $.ajax({
          type : "post",
          url: '{% url "store_listings" %}',
          headers: {'X-CSRFToken': $("input[name=csrfmiddlewaretoken]").val()},
          data : data,
          contentType: false,
          processData: false,
          success : function(json) {
            listingsSpinner(false);
            stores_list = json['stores']


            if(stores_list.length === 0){
              storesList_div.innerHTML += "<div class='row justify-content-center p-t-50'><img style='width:30%;height:auto;' src='{% static 'images/no-search-result.svg' %}'></img></div>" +
                                          "<div class='row justify-content-center'><span class='fs-20 bold'>Couldn't Find Results for your Selected Filters</span></div>" +
                                          "<div class='row justify-content-center'><span class='fs-16 italic'>Let's try a different cusine or store.</span></div>"
            }else{
              var storesList_div_innerHTML = ""
              storesList_div = document.getElementById("storesList")
              storesList_div_innerHTML += "<div class='row'>"

              stores_list.forEach(function (store, index) {

                  storesList_div_innerHTML += "<div class='col-md-4 m-b-8' style='padding-right:0;padding-left:10'>" +
                                                "<div class='card border-light'>"+
                                                  "<img class='card-img-top' src='" + store['store_image'] +"'style='height: 22vh;'>"  +
                                                  "<div class='container p-t-5'style='padding-left:30px'><div class='row'>" +
                                                  "<div class='col-sm-9' style='padding-left:0'><h5 class='card-title'>"+ store['store_name']+"</h5></div>"+
                                                  "<div class='col-sm-3' style='padding-left:0;padding-top:5'><span class='label label-default float-right fs-10' style='background-color:#666;color:white'>"+ store['cuisine_type'] +"</span></div></div>"+
                                                  "<div class='row'><span class='italic'>" + store['hawker_centre'] +"</span></div>"+
                                                  "<div class='row' style='padding-top:3 padding-bottom::10'><div class='col><span class='italic fs-11'><i class='fa fa-road' style='color:#212529'></i>" + store['distance'] + "   <i class='fa fa-car' style='color:#212529'></i>  " + store['duration'] +"</span></div><div class='col align-self-end text-right'>"
                  for (i = 0; i < 5; i++) {
                    if(i < store['store_rating']){
                      storesList_div_innerHTML += "<i class='fa fa-star' style='color:#ffe108; font-size:15px'></i>";
                    }else{
                      storesList_div_innerHTML += "<i class='fa fa-star' style='font-size:15px'></i>";
                    }

                  }
                  if(store['num_reviews'] > 0) storesList_div_innerHTML += '<span class="fs-15">(' + store['num_reviews'] +')</span>'
                  storesList_div_innerHTML +=     "</div></div>" +
                                                  "<a href='../store/"+ store['id'] +"?d=" +  store['distance'] + "&t=" + store['duration'] + "' class='stretched-link'></a></div>" +
                                                "</div>" +
                                               "</div>"

                if((index+1)%3 === 0){
                  storesList_div_innerHTML += "</div><div class='row'>"
                }
              });
              storesList_div.innerHTML +=  storesList_div_innerHTML
            }
          },

          // handle a non-successful response
          error : function(xhr,errmsg,err) {
            alert(errmsg)
          }
      });

    }


  </script>
  <body>
    <div class="container p-t-10">
      <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <a class="navbar-brand" href="#">
          <img src="{% static 'images/logo.png' %}" style="width:40%;" alt="Enso">
        </a>
        {% if request.user_agent.is_pc %}
        <form id="location-search" class="form-inline">
            {% csrf_token %}
            <div class="p-1">
              <div class="input-group">
                <input id="search-location-input" class="form-control mr-sm-2 border-0" type="search" placeholder="Your Location" aria-label="Search" style="width:280px !important;">
                <div class="input-group-append">
                  <button id="search-location-btn" type="button" class="btn" onclick="getCurrentLocation()"><i class="fa fa-location-arrow"></i></button>
                </div>
              </div>
            </div>
        </form>
        {% endif %}
        <button class="navbar-toggler ml-auto " type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item" style="text-align:right;">
              <a class="nav-link fs-20" href="{% url 'gathering_page' %}"><i class='pop-up-tooltip bx bxs-group bx-border bx-tada-hover bx-sm' data-content="Manage your Gatherings"></i></a>
            </li>
            <!--
            <li class="nav-item"  style="text-align:right;">
              <a class="nav-link fs-20" href="#"><i class='bx bxs-chat bx-border bx-tada-hover bx-sm'></i></a>
            </li>
            -->
            <li class="nav-item dropdown"  style="text-align:right;">
              <a id="profile-pic-icon" class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="{{ user.profile.get_profile_url }}" style="width:35px;height:35px;border-radius:20%"></img>
              </a>
              <div class="dropdown-menu slideIn  animate ml-auto" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'profile_page' %}" style="padding:.25rem 1rem !important;">
                    <i class="fa fa-lg fa-user"></i>  View Profile
                  </a>
                  <a class="dropdown-item" href="{% url 'logout_user' %}" style="padding:.25rem 1rem !important;">
                    <i class="fa fa-lg fa-sign-out"></i>  Log Out
                  </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      {% if request.user_agent.is_mobile %}.
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col justify-content-md-center">
          <form id="location-search">
             {% csrf_token %}
              <div class="p-1">
                <div class="input-group">
                  <input id="search-location-input" class="form-control mr-sm-2 border-0" type="search" placeholder="Your Location" aria-label="Search">
                  <div class="input-group-append">
                    <button id="search-location-btn" type="button" class="btn" onclick="getCurrentLocation()"><i class="fa fa-location-arrow"></i></button>
                  </div>
                </div>
              </div>
          </form>

        </div>
        <div class="col-1">
        </div>
      </div>
      {% endif %}

      <span id="curr-latitude" class="dis-none">{{user.profile.zip_code.latitude}}</span>
      <span id="curr-longitude" class="dis-none">{{user.profile.zip_code.longitude}}</span>

      <div class="row p-t-10">
        <div class="col-1"></div>
        {% if request.user_agent.is_mobile %}
        <div class="col-8 justify-content-md-center">
        {% else %}
        <div class="col justify-content-md-center">
        {% endif %}
          <form id="store-search-form">
            <div class="p-1 bg-light rounded-search shadow-sm mb-4">
              <div class="input-group">
                <input id="search-store-input" type="search" placeholder="Search for a hawker centre or food store" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                <div class="input-group-append">
                  <button id="search-store-btn" type="submit" class="btn"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
        {% if request.user_agent.is_mobile %}
        <div class="col-3">
        {% else %}
        <div class="col-md-auto">
        {% endif %}
          <div id="food-cat-filter" class="ui left multiple dropdown" style="padding-top:10px">
            <input type="hidden" name="filters">
            <i class="filter pop-up-tooltip icon" data-content="Filter by Cravings"></i>
            <span class="text"></span>
            <div class="menu">
              <div class="ui icon search input">
                <i class="search icon"></i>
                <input type="text" placeholder="Search Cuisines">
              </div>
              <div class="divider"></div>
              <div class="header">
                <i class="tags icon"></i>
                Cuisines
              </div>
              <div class="scrolling menu">
                {% for item in food_categories %}
                <div class="item" data-value="{{item.id}}">
                  <div class="ui"></div>
                  {{item.category_name}}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row section-divider"></div>
    <div id="foodListings" class="container p-t-10" >
      <div id="foodListingsSpinner" class="m-t-200"></div>
      <div id="storesList">
      </div>
    </div>


    <span id="chat-unread-count" class="chat-launcher-icon" ></span>
    <script>
    $("#profile-pic-icon").badge({{user.profile.current_level.id}},'bottom');
    </script>

    <script src="{% static "vendor/Applozic/public/plugin/js/app/modules/applozic.jquery.js" %}"></script>
    <script type="text/javascript" src="https://cdn.applozic.com/applozic/applozic.chat-6.1.min.js"></script>
    <script src="{% static "vendor/Applozic/public/plugin/js/app/sidebox/applozic.sidebox.js" %}"></script>

    <script>
    (function(d, m){var s, h;
       s = document.createElement("script");
       s.type = "text/javascript";
       s.async=true;
       s.src="https://apps.applozic.com/sidebox.app";
       h=document.getElementsByTagName('head')[0];
       h.appendChild(s);
       window.applozic=m;
       m.init=function(t){m._globals=t;}})(document, window.applozic || {});
    </script>

    <script type="text/javascript">

      window.applozic.init({
        appId: '3078042d7c9d5ae7b2abd9029b0054991',      //Get your App ID from https://www.applozic.com
        userId: {{user.profile.id}},                     //Logged in user's id, a unique identifier for user
        userName: '{{user.profile.first_name}}',                 //User's display name
        imageLink : '{{user.profile.ge1t_profile_url}}',                     //User's profile picture url
        desktopNotification: true,
        source: '5',                          // optional, WEB(1),DESKTOP_BROWSER(5), MOBILE_BROWSER(6)
        notificationIconLink: "{% static 'images/icons/favicon.ico' %}",    //Icon to show in desktop notification, replace with your icon
        notificationSoundLink :"{% static 'vendor/Applozic/public/plugin/audio/notification_tone.mp3' %}",
        authenticationTypeId: 1,          //1 for password verification from Applozic server and 0 for access Token verification from your server
        accessToken: '',                    //optional, leave it blank for testing purpose, read this if you want to add additional security by verifying password from your server https://www.applozic.com/docs/configuration.html#access-token-url
        locShare: true,
        googleMapScriptLoaded : true,   // true if your app already loaded google maps script
        autoTypeSearchEnabled : true,     // set to false if you don't want to allow sending message to user who is not in the contact list
        loadOwnContacts : false, //set to true if you want to populate your own contact list,
        topicBox:true,
        disableSelfChat:true,
        groupUserCount: true,
        onInit : function(response) {
            if (response === "success") {
               console.log('login successful, perform your actions if any, for example: load contacts, getting unread message count, etc')
               $("#mck-sidebox-launcher").prepend("<span id='unread-count' class='bold fs-16 dis-none' ></span>")
            }
        }
     });

    </script>

    <script>

    $("#chat-unread-count").on('DOMSubtreeModified', function () {
      var unread_count = $('#chat-unread-count').text()
      if(unread_count.length === 0){
        $("#unread-count").addClass('dis-none')
      }else{
        $("#unread-count").removeClass('dis-none')
        document.getElementById("unread-count").textContent = $('#chat-unread-count').text()
      }
    });

    </script>

  </body>
</html>
