<html lang="en">
  <head>
    {% load static %}
    {% load cloudinary %}
    <title>Enso</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/util.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendor/Semantic-UI/semantic.min.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "vendor/Applozic/public/plugin/css/app/sidebox/applozic.combined.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendor/Applozic/public/plugin/css/app/sidebox/applozic.sidebox.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendor/Applozic/public/plugin/css/app/sidebox/viewer.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendor/topper/topper.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendor/css-hamburgers/hamburgers.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendor/animsition/css/animsition.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendor/Customizable-Badges/jquery.badge.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendor/Loading-Mask/app.min.css" %}">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static "vendor/Semantic-UI/semantic.min.js" %}"></script>
    <script src="{% static "vendor/Applozic/public/plugin/js/jquery.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCKYnwgeoP-2ovBzcN8veUZzDN6SrYv1t0"></script>
    <script src="{% static "vendor/bootstrap/js/popper.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap-input-spinner.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "vendor/topper/topper.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <script src="{% static "vendor/Customizable-Badges/jquery.badge.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
    <link href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css" rel="stylesheet"/>


    <script>
      $(document).ready(function() {
        $('.pop-up-tooltip').popup({transition:'Fade Up'});

      });
    </script>
  </head>
  <body>
    <div class="container p-t-10">
      <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <a class="navbar-brand" href="{% url 'homepage' %}">
          <img src="{% static 'images/logo.png' %}" style="width:49px;" alt="Enso">
        </a>
        <button class="navbar-toggler ml-auto " type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item" style="text-align:right;">
              <a class="nav-link fs-20" href="#"><i class='pop-up-tooltip bx bxs-group bx-border bx-tada-hover bx-sm' data-content="Manage your Gatherings"></i></a>
            </li>
            <li class="nav-item dropdown"  style="text-align:right;">
              <a id="profile-pic-icon" class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="{{ user.profile.get_profile_url }}" style="width:35px;height:35px;border-radius:20%"></img>
              </a>
              <div class="dropdown-menu slideIn  animate ml-auto" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'logout_user' %}" style="padding:.25rem 1rem !important;">
                    <i class="fa fa-lg fa-user"></i>  View Profile
                  </a>
                  <a class="dropdown-item" href="{% url 'logout_user' %}" style="padding:.25rem 1rem !important;">
                    <i class="fa fa-lg fa-sign-out"></i>  Log Out
                  </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="row section-divider"></div>
    <div class='container p-t-25'>
      <div class="row">
        <div class="col">
          <div class="row">
            <span class='fs-15'><a href="{% url 'homepage' %}" style="font-size:15px;">Home</a> > {{store.store_name}}</span>
          </div>
          <div class="row">
              <span class='bold fs-30'>{{ store.store_name}} <span class='label label-default' style='background-color:#666;color:white; font-size:12px;position:relative;top:-5'>{{store.cuisine_type.category_name}}</span></span>
          </div>
          <div class="row">
            {% for i in "12345" %}
              {% if forloop.counter <= store.get_average_rating %}
                <i class='fa fa-star' style='color:#ffe108; font-size:18px'></i>
              {% else %}
                <i class='fa fa-star' style='font-size:18px'></i>
              {% endif %}
            {% endfor %}
            {% if store.get_total_num_reviews > 0 %}
            <span class="fs-13" style="line-height:18px">({{ store.get_total_num_reviews }})</span>
            {% else %}
            <span class="fs-13 italic" style="line-height:18px">No reviews given yet</span>
            {% endif %}
            <span class='italic fs-13 p-l-30'><i class='fa fa-road' style='color:#212529'></i> {{distance}}&nbsp;</span>
            <span class='italic fs-13 p-l-3'><i class='fa fa-car' style='color:#212529'></i> {{duration}}</span>
          </div>
          <div class="row p-t-3">
            <span class='bold fs-12'style="color:#676767">#{{store.unit_number}},&nbsp;{{store.hawker_centre.zip_code.address}}<span class="italic">&nbsp;({{store.hawker_centre.centre_name}} - {{store.hawker_centre.get_centre_type_display}})</span></span>
          </div>
          <div class="row p-t-5">
            <div class="col-3" style="padding:0">
              <span class='bold fs-15'> Opening Hours</span>
            </div>
            <div class="col-m-auto">
            {% for hours in store.opening_hours.all %}
             <div class="row" style="margin-bottom:-20px">
               <div class="col-4">
                 <span class="fs-14" style="color:#676767">{{hours.get_weekday_display}}     </span>
               </div>
               <div class="col-8">
               {{ hours.from_hour}} - {{ hours.to_hour}}
               </div>
            </div>
               <br>
            {% endfor %}
            </div>
          </div>
          <div class="row p-t-3">
            <span class='bold fs-15'>Payment Modes&nbsp;&nbsp;</span>
            <i class="fa fa-money fs-15" style="line-height:1.8;color:green"></i>
            {% if store.cashless_payment %}
            &nbsp;<i class="fa fa-credit-card fs-15" style="line-height:1.8;color:grey"></i>
            {% endif %}
          </div>
        </div>
        <div class='col'>
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false" style="width:70%;float:right;">
            <ol class="carousel-indicators">
              {% for pic in store.get_store_pics %}
              {% if forloop.counter0 == 0 %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
              {% else %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"></li>
              {% endif %}
              {% endfor  %}
            </ol>
            <div class="carousel-inner">
              {% for pic in store.get_store_pics reversed %}
              {% if forloop.counter == 1 %}
              <div class="carousel-item active">
              {% else %}
              <div class="carousel-item">
              {% endif %}
                <img src='https://res.cloudinary.com/hgdcwue1c/image/upload/v1/{{pic.public_id}}.{{pic.format}}' style="width:378px;height:252px;"></img>
              </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style='background-color:#808080;'>
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style='background-color:#808080;'>
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-4 host-gathering-col">
    				<form id="host-gathering-form">
              {% csrf_token %}
              <span class='centre bold fs-20'>
                BE A HOST
              </span>
              <div class='row'>
                <span class="bold m-l-r-auto fs-14 p-t-10">Gathering Name</span>
              </div>
              <div class='row p-t-5'>
                <div class="wrap-input-host">
                  <input class="input-host" type="text" name="gathering_name"  autocapitalize="none"  maxlength="150" required id="gatheringName" >
      						<!--<input id="username" class="input100" type="text">-->
      					</div>
              </div>
              <div class='row'>
                <span class="bold m-l-r-auto fs-14 p-t-10">Number of Pax</span>
              </div>
              <div class='row p-t-5'>
                <div class="wrap-input-host">
                    <input class="input-host" type="number" value="2" min="2" max="5" step="1" id="numberPax"/>
                </div>
              </div>
              <div class='row'>
                <span class="bold m-l-r-auto fs-14 p-t-10">Date</span>
              </div>
              <div class='row p-t-5'>
                <div class="wrap-input-host">
                    <input class="input-host" type='text' class="form-control" id='gatheringDate' />
                </div>
              </div>
              <div class='row'>
                <span class="bold m-l-r-auto fs-14 p-t-10">Time</span>
              </div>
              <div class='row p-t-5 p-b-15'>
                <div class="wrap-input-host">
                    <input class="input-host" type='text' class="form-control" id='gatheringTime' />
                </div>
              </div>
              <div class='row p-t-5 p-b-25'>
                <button class="signup100-form-btn" type=submit id='host-gathering-btn' style="width:50%;height:30px;margin:auto;">
                  HOST
                </button>
              </div>
    				</form>
          </div>
          <div class="col">
            <nav class="p-t-20">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-join-tab" data-toggle="tab" href="#nav-join" role="tab" aria-controls="nav-join" aria-selected="false">Join a Gathering &nbsp; <span onclick="refreshGatherings()" style="cursor:pointer"><i class="fa fa-retweet pop-up-tooltip" data-content="Refresh"></i></span></a>
                <a class="nav-item nav-link" id="nav-direction-tab" data-toggle="tab" href="#nav-direction" role="tab" aria-controls="nav-direction" aria-selected="false">Directions</a>
                <a class="nav-item nav-link " id="nav-review-tab" data-toggle="tab" href="#nav-review" role="tab" aria-controls="nav-review" aria-selected="false">Reviews</a>
                <a class="nav-item nav-link" id="nav-nearby-tab" data-toggle="tab" href="#nav-nearby" role="tab" aria-controls="nav-nearby" aria-selected="false">Nearby Stores <span class='italic'>({{store.hawker_centre.centre_name}})</span></a>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane show active" id="nav-join" role="tabpanel" aria-labelledby="nav-join-tab">
                <div class="container">
                  <div id="avail-gatherings-spinner" class="dis-none" style="top:150px"></div>
                  <div id="avail-gatherings">
                    test
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-direction" role="tabpanel" aria-labelledby="nav-direction-tab">
                <iframe
                  width="100%"
                  height="450"
                  frameborder="0" style="border:0"
                  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCKYnwgeoP-2ovBzcN8veUZzDN6SrYv1t0
                    &origin={{user.profile.zip_code.latitude}},{{user.profile.zip_code.longitude}}
                    &destination={{ store.store_name}},#{{store.unit_number}},{{store.hawker_centre.zip_code.address}}" allowfullscreen>
                </iframe>
              </div>
              <div class="tab-pane fade" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">
                <div class="container">
                  {% if store.rating.all.count == 0 %}
                  <div class="row justify-content-center p-t-30 p-b-10">
                    <img style='width:15%;height:auto;' src='{% static 'images/alert.png' %}'></img>
                  </div>
                  <div class="row justify-content-center">
                      <span class="italic fs-18">There are no reviews for {{ store.store_name}} yet! </span>
                  </div>
                  {% else %}
                   {% for review in store.rating.all reversed %}
                    <div class='card'style="height:120px">
                      <div class='card-body'>
                        <div class="row">
                          <div class="col-2">
                            <img src='{{ review.user_profile.get_profile_url}}' style="border-radius:50%;width:70%"></img>
                          </div>
                          <div class="col-2" style="margin-left:-30;margin-top:15">
                            <div class="row">
                            {% for i in "12345" %}
                              {% if forloop.counter <= review.rating %}
                                <i class='fa fa-star' style='color:#ffe108; font-size:15px'></i>
                              {% else %}
                                <i class='fa fa-star' style='font-size:15px'></i>
                              {% endif %}
                            {% endfor %}
                            </div>
                            <div class="row">
                              <span class="italic fs-12">{{ review.date|date:"d M Y"}}</span>
                            </div>
                          </div>
                          <div class="col" style="margin-left:-45;margin-top:13;">
                            <span class="fs-18" onclick="chat({{review.user_profile.id}})" style="cursor:pointer"><i class='pop-up-tooltip bx bxs-chat bx-border bx-tada-hover bx-sm' data-content="Chat with {{review.user_profile.first_name}}"></i></span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-auto p-t-5">
                            <span class="fs-14">{{ review.review}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                   {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class="tab-pane fade" id="nav-nearby" role="tabpanel" aria-labelledby="nav-nearby-tab" style='height:400px;overflow-y:scroll;'>
                <div class='row p-t-5' style='margin-right:0 !important;'>
                {% for nearby_store in store.hawker_centre.food_store.all %}
                  {% if nearby_store.id != store.id %}
                  <div class='col-md-6 m-b-8' style='padding-right:0;'>
                    <div class='card border-secondary p-b-4'>
                      <img class='card-img-top' src='{{nearby_store.get_storepic_url}}'style='height: 13vh;'>
                        <div class='container p-t-5'style='padding-left:20px'>
                          <div class='row'>
                            <div class='col-9' style='padding-left:0'>
                              <h5 class='card-title'>{{nearby_store.store_name}}</h5>
                            </div>
                            <div class='col' style='padding-left:0;padding-top:5'>
                              <span class='label label-default fs-10' style='background-color:#666;color:white'>{{nearby_store.cuisine_type.category_name}}</span>
                            </div>
                          </div>
                          <div class='row p-t-4 p-b-3'>
                            {% for i in "12345" %}
                              {% if forloop.counter <= nearby_store.get_average_rating %}
                                <i class='fa fa-star' style='color:#ffe108; font-size:15px'></i>
                              {% else %}
                                <i class='fa fa-star' style='font-size:15px'></i>
                              {% endif %}
                            {% endfor %}
                            {% if nearby_store.get_total_num_reviews > 0 %}
                            <span class="fs-13" style="line-height:13px">({{ nearby_store.get_total_num_reviews }})</span>
                            {% else %}
                            <span class="fs-11 italic" style="line-height:15px">&nbsp;No reviews given yet</span>
                            {% endif %}
                          </div>
                        </div>
                        <a href="../../store/{{nearby_store.id}}?d={{distance}}&t={{duration}}" class='stretched-link'></a>
                    </div>
                  </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <span id="chat-unread-count" class="chat-launcher-icon" ></span>
    <script>
    $("#profile-pic-icon").badge({{user.profile.current_level.id}},'bottom');

    $('#gatheringDate').datetimepicker({
      minDate:new Date(),
      format: 'DD/MM/YYYY',
      viewMode: 'days',
      daysOfWeekDisabled: {{ store.get_operating_days }},
      icons: {
          time: "fa fa-clock-o",
          date: "fa fa-calendar",
          up: "fa fa-arrow-up",
          down: "fa fa-arrow-down",
          previous: "fa fa-chevron-left",
          next: "fa fa-chevron-right",
          today: "fa fa-clock-o",
          clear: "fa fa-trash-o"
      }
    });

    $('#gatheringTime').datetimepicker({
      minDate:new Date(),
      format:'HH:mm',
      inline:true,
      toolbarPlacement:'bottom',
      icons: {
          time: "fa fa-clock-o",
          date: "fa fa-calendar",
          up: "fa fa-arrow-up",
          down: "fa fa-arrow-down",
          previous: "fa fa-chevron-left",
          next: "fa fa-chevron-right",
          today: "fa fa-clock-o",
          clear: "fa fa-trash-o"
      }
    });
    $('#gatheringTime').blur()
    $("input[type='number']").inputSpinner({groupClass: "width-fixed"});

    </script>
    <script src="{% static "vendor/Applozic/public/plugin/js/app/modules/applozic.jquery.js" %}"></script>
    <script type="text/javascript" src="https://cdn.applozic.com/applozic/applozic.chat-6.1.min.js"></script>
    <script src="{% static "vendor/Applozic/public/plugin/js/app/sidebox/applozic.sidebox.js" %}"></script>

    <script>
    (function(d, m){var s, h;
       s = document.createElement("script");
       s.type = "text/javascript";
       s.async=true;
       s.src="https://apps.applozic.com/sidebox.app";
       h=document.getElementsByTagName('head')[0];
       h.appendChild(s);
       window.applozic=m;
       m.init=function(t){m._globals=t;}})(document, window.applozic || {});
    </script>

    <script type="text/javascript">

      window.applozic.init({
        appId: '33475016416a3cf577d8e5161ca4cc32',      //Get your App ID from https://www.applozic.com
        userId: {{user.profile.id}},                     //Logged in user's id, a unique identifier for user
        userName: '{{user.profile.first_name}}',                 //User's display name
        imageLink : '{{user.profile.ge1t_profile_url}}',                     //User's profile picture url
        desktopNotification: true,
        source: '5',                          // optional, WEB(1),DESKTOP_BROWSER(5), MOBILE_BROWSER(6)
        notificationIconLink: "{% static 'images/icons/favicon.ico' %}",    //Icon to show in desktop notification, replace with your icon
        notificationSoundLink :"{% static 'vendor/Applozic/public/plugin/audio/notification_tone.mp3' %}",
        authenticationTypeId: 1,          //1 for password verification from Applozic server and 0 for access Token verification from your server
        accessToken: '',                    //optional, leave it blank for testing purpose, read this if you want to add additional security by verifying password from your server https://www.applozic.com/docs/configuration.html#access-token-url
        locShare: true,
        googleMapScriptLoaded : true,   // true if your app already loaded google maps script
        autoTypeSearchEnabled : true,     // set to false if you don't want to allow sending message to user who is not in the contact list
        loadOwnContacts : false, //set to true if you want to populate your own contact list,
        topicBox:true,
        disableSelfChat:true,
        groupUserCount: true,
        onInit : function(response) {
            if (response === "success") {
               console.log('login successful, perform your actions if any, for example: load contacts, getting unread message count, etc')
               $("#mck-sidebox-launcher").prepend("<span id='unread-count' class='bold fs-16 dis-none' ></span>")
               /*
               $applozic.fn.applozic('createGroup', {'groupName' : '{{store.store_name}}({{store.hawker_centre.centre_name}})',   // required
                                                 'type' : 2,                // 1 for private , 2 for public, 5 for broadcast (required)
                                                 'imageUrl': '{{ store.get_storepic_url }}',
                                                 'users': [{ userId:{{user.profile.id}},
                                                             groupRole : 1  // (optional)  USER(0), ADMIN(1), MODERATOR(2), MEMBER(3)
                                                           }],
                                                          'callback' : function(response){console.log(response);}})

               $applozic.fn.applozic('updateGroupInfo', {'groupId' : 47235857,
                                    'imageUrl' : '{{ store.get_storepic_url }}',
                                    'callback' : function(response){console.log(response);}});
              */

            }
        }
     });
    </script>

    <script src="{% static "vendor/Loading-Mask/app.js" %}"></script>

    <script>
    $("#chat-unread-count").on('DOMSubtreeModified', function () {
      var unread_count = $('#chat-unread-count').text()
      if(unread_count.length === 0){
        $("#unread-count").addClass('dis-none')
      }else{
        $("#unread-count").removeClass('dis-none')
        document.getElementById("unread-count").textContent = $('#chat-unread-count').text()
      }
    });


    $(document).on('submit', '#host-gathering-form',function(event){
    		event.preventDefault()

        $.ajax({
          type : "POST",
          url: '{% url "create_gathering" %}',
          headers: {'X-CSRFToken': $("input[name=csrfmiddlewaretoken]").val()},
          data : {
            gathering_time: $('#gatheringTime').val(),
            gathering_date: $('#gatheringDate').val(),
            no_pax:$('#numberPax').val(),
            gathering_name: $('#gatheringName').val(),
            store_id: {{ store.id}}
          },
          success : function(json) {
            $applozic.fn.applozic('createGroup', {'groupName' : $('#gatheringName').val(),   // required
                                              'type' : 1,                // 1 for private , 2 for public, 5 for broadcast (required)
                                              'users': [{ userId:{{user.profile.id}},
                                                          groupRole : 1  // (optional)  USER(0), ADMIN(1), MODERATOR(2), MEMBER(3)
                                                        }],
                                                       'callback' : function(response){
                                                         var groupID = response['data']['value']

                                                         $.ajax({
                                                           type : "POST",
                                                           url: '{% url "create_chat" %}',
                                                           headers: {'X-CSRFToken': $("input[name=csrfmiddlewaretoken]").val()},
                                                           data : {
                                                             group_id: groupID,
                                                             gathering_id: json['gathering_id']
                                                           },
                                                           success : function(json) {
                                                             $('#host-gathering-form')[0].reset();
                                                           }
                                                         });

                                                       }
                                                     }
                                  )

            Topper({
              title: '',
              text: 'Gathering has been successfully created!',
              style: 'success',
              type: 'top',
              autoclose: true,
              autocloseAfter: 5000
              });

            refreshGatherings();
          }
        })

    });


    function chat(id){
      $applozic.fn.applozic('loadTab', id);
    }

    function refreshGatherings(){
      $('#avail-gatherings').empty()
      var gathering_list_div = document.getElementById("avail-gatherings")

      $("#avail-gatherings-spinner").removeClass('dis-none')
      $("#avail-gatherings-spinner").busyLoad("show", {
        spinner: "cubes", // pump, acc[ordion, pulsar, cube, cubes, circle-line, circles, cube-<a href="https://www.jqueryscript.net/tags.php?/grid/">grid</a>
        color: "black",
        background: 'black',
        maxSize: "100px", // Integer/String only for spinners & images, not fontawesome & custom
        minSize: "20px", // Integer/String only for spinners & images, not fontawesome & custom
      });

      $.ajax({
        type : "POST",
        url: '{% url "load_existing_gatherings" %}',
        headers: {'X-CSRFToken': $("input[name=csrfmiddlewaretoken]").val()},
        data : {
          store_id: {{ store.id}}
        },
        success : function(json) {
          $("#avail-gatherings-spinner").busyLoad("hide", {});
          $("#avail-gatherings-spinner").addClass('dis-none');
          var gathering_ids = json['gathering_ids']
          var gathering_count = 0;
          var gatheringList_div_innerHTML = ""
          gatheringList_div_innerHTML += "<div class='row p-t-10'>"
          {% for gathering in store.gathering.all %}
            if(gathering_ids.includes({{gathering.id}})){
              gatheringList_div_innerHTML += "<div class='col-md-4 m-b-8' style='padding-right:0;padding-left:10'>" +
                                              "<div class='card border-secondary join-gatherings-bg' style='height:125'>" +
                                                "<div class='container p-t-5 p-b-5'style='padding-left:30px'>"+
                                                  "<div class='row'>" +
                                                    "<h5 class='card-title'>{{gathering.name}}</h5>" +
                                                  "</div>" +
                                                  "<div class='row'>" +
                                                    "<span class='italic fs-13'>{{gathering.date|date:'d M Y'}}&nbsp;&sdot;&nbsp;{{gathering.start_time}}</span>" +
                                                  "</div>" +
                                                  "<div class='row p-t-5'>"

             var userCount = {{gathering.no_pax}}
             {% for user in gathering.user_gathering.all %}
              if('{{user.status}}' === "J"){
                 gatheringList_div_innerHTML +=         "<div class='col' style='padding:0' >" +
                                                          "<img class='avatar-tooltip' data-content='{{user.user_profile.first_name}} ({{user.get_member_type_display}})' src='{{user.user_profile.get_profile_url}}' style='width:75%;border-radius:50%;border:2px solid green;'></img>" +
                                                        "</div>"
                 userCount -=1
              }



              {% endfor %}


             for (i = 0; i < userCount; i++) {
              gatheringList_div_innerHTML +=         "<div class='col' style='padding:0'>" +
                                                        "<img class='avatar-tooltip' data-content='Could be you!' src='https://bethanychurch.org.uk/wp-content/uploads/2018/09/profile-icon-png-black-6.png' style='width:70%;border-radius:50%;border:2px solid black'></img>" +
                                                      "</div>"
              }
             gatheringList_div_innerHTML +=  "</div>" +
                                                "<div class='row p-t-10'>"+
                                                  "<div class='col-4' style='padding:0'>" +
                                                  "<span class='italic'>"+userCount+" slots left!</span>" +
                                                  "</div>" +
                                                  "<div class='col' style='padding:0;padding-left:14;padding-top:3'>" +
                                                  "<button id='join-gathering-btn-{{gathering.id}}' class='joingathering-form-btn' onclick='joinGathering({{gathering.id}})'>Request to Join</button>" +
                                                  "</div>" +
                                                "</div>"
             gatheringList_div_innerHTML +=       "</div>"+
                                                "</div>"+
                                              "</div>"



              if((gathering_count+1)%2 === 0){
                gatheringList_div_innerHTML += "</div><div class='row p-t-5'>"
              }

              gathering_count+=1;
            }
          {% endfor %}

          if(gathering_count == 0 ){
            gathering_list_div.innerHTML += "<div class='row justify-content-center p-t-50'><img style='width:30%;height:auto;' src='{% static 'images/no-search-result.svg' %}'></img></div>" +
                                        "<div class='row justify-content-center'><span class='fs-20 bold'>Aiyo, got nobody to eat with</span></div>" +
                                        "<div class='row justify-content-center'><span class='fs-16 italic'>Host a Gathering instead!</span></div>"
          }else{
            gathering_list_div.innerHTML +=  gatheringList_div_innerHTML
            $('.avatar-tooltip').popup();
          }
        }
      })


    }

    function joinGathering(gathering_id){
      $("#join-gathering-btn-" + gathering_id).attr("disabled", true);
      $("#join-gathering-btn-" + gathering_id).text('Requesting...');

      $.ajax({
        type : "POST",
        url: '{% url "request_join_gathering" %}',
        headers: {'X-CSRFToken': $("input[name=csrfmiddlewaretoken]").val()},
        data : {
          gathering_id: gathering_id
        },
        success : function(json) {

          $applozic.fn.applozic('sendMessage', {
                      'to': json['host_id'],           // userId of the receiver
                      'message' : " Hello, I have sent a request to join " + json['gathering_name'] + "!",
                      'type' : 0                  //(optional) DEFAULT(0),
                        });

        Topper({
          title: '',
          text: 'Requested to Join ' + json['gathering_name'],
          style: 'success',
          type: 'top',
          autoclose: true,
          autocloseAfter: 5000
          });
          refreshGatherings()
        }
      });
    }

    $(document).ready(function() {
      refreshGatherings()
    });
    </script>

  </body>
</html>
